[core]
	excludesfile = ~/.gitignore-global
[user]
	name = Johann
	email = johann@jtan.me
[alias]
	p = pull --recurse-submodules
	c = clone --recursive
	co = checkout
[advice]
	detachedHead = false
	defaultBranchName = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitconfig-local
[init]
	defaultBranch = main
