{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "mistertea/et"
tap "teamookla/speedtest"
tap "ttscoff/thelab"
cask "tailscale-app"
cask "1password"
cask "1password-cli"
cask "maestral"
brew "age"
brew "openssl@3"
brew "aria2"
brew "bash"
brew "bind"
brew "coreutils"
brew "chezmoi"
brew "cmake"
brew "curl"
brew "ed"
brew "exercism"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "gcc"
brew "git"
brew "git-lfs"
brew "go"
brew "openjdk"
brew "gradle"
brew "grep"
brew "jj"
brew "just"
brew "kopia"
brew "lftp"
brew "linode-cli"
brew "llm"
brew "magic-wormhole"
brew "make"
brew "mas"
brew "mosh"
brew "nano"
brew "ninja"
brew "nmap"
brew "node"
brew "openssh"
brew "p7zip"
brew "pandoc"
brew "php"
brew "pytest"
brew "rclone"
brew "restic"
brew "ripgrep"
brew "rmate"
brew "rsync"
brew "ruff"
brew "scons"
brew "screen"
brew "sevenzip"
brew "sox"
brew "stow"
brew "switchaudio-osx"
brew "telnet"
brew "tintin"
brew "tlrc"
brew "tmux"
brew "transmission-cli"
brew "unxip"
brew "uv"
brew "wget"
brew "wget2"
brew "whisper-cpp"
brew "wxpython"
brew "yt-dlp"
brew "zoxide"
brew "mistertea/et/et"
brew "teamookla/speedtest/speedtest"
brew "ttscoff/thelab/gather-cli"
cask "airfoil"
cask "alfred"
cask "amadeus-pro"
cask "anki"
cask "audio-hijack"
cask "backblaze"
cask "bbedit"
cask "blip"
cask "calibre"
cask "carbon-copy-cloner"
cask "chatgpt"
cask "clion"
cask "cog-app"
cask "cyberduck"
cask "discord"
cask "dolphin"
cask "element"
cask "firefox"
cask "forecast"
cask "hammerspoon"
cask "handbrake-app"
cask "iina"
cask "joplin"
cask "jump-desktop"
cask "karabiner-elements"
cask "keka"
cask "keyboard-maestro"
cask "kopiaui"
cask "latest"
cask "launchbar"
cask "lidanglesensor"
cask "localsend"
cask "loopback"
cask "macwhisper"
cask "mgba-app"
cask "nova"
#cask "onyx"
cask "openaudible"
cask "orbstack"
cask "parallels"
cask "piezo"
cask "qlcolorcode"
cask "qlmarkdown"
cask "qlstephen"
cask "quicklook-json"
cask "raspberry-pi-imager"
cask "reaper"
cask "soundsource"
cask "spotify"
cask "stats"
cask "superduper"
cask "suspicious-package"
cask "steam"
cask "textmate"
cask "the-unarchiver"
cask "transmission"
cask "transmit"
cask "visual-studio-code"
cask "xld"
cask "zoom"
mas "1Blocker", id: 1365531024
mas "1Password for Safari", id: 1569813296
mas "Amphetamine", id: 937984704
mas "Broadcasts", id: 1469995354
mas "CotEditor", id: 1024640650
mas "Drafts", id: 1435957248
mas "iMovie", id: 408981434
mas "JustPlay", id: 1458004180
mas "Kagi for Safari", id: 1622835804
mas "Keynote", id: 409183694
mas "Klack", id: 6446206067
mas "Messenger", id: 1480068668
mas "Mic Drop", id: 1489816366
mas "Mona", id: 1659154653
mas "rcmd", id: 1596283165
mas "Scratchpad", id: 6504040051
mas "Tot", id: 1491071483
mas "uBlock Origin Lite", id: 6745342698
mas "WhatsApp", id: 310633997
mas "Xcode", id: 497799835
vscode "alefragnani.bookmarks"
vscode "charliermarsh.ruff"
vscode "davidanson.vscode-markdownlint"
vscode "freddyzhu.pandoc-assist"
vscode "github.codespaces"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "icrawl.discord-vscode"
vscode "llvm-vs-code-extensions.lldb-dap"
vscode "ms-azuretools.vscode-containers"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "ms-toolsai.jupyter"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-toolsai.jupyter-renderers"
vscode "ms-toolsai.vscode-jupyter-slideshow"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.cmake-tools"
vscode "ms-vscode.cpptools"
vscode "ms-vscode.cpptools-extension-pack"
vscode "ms-vscode.cpptools-themes"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-server"
vscode "ms-vscode.wordcount"
vscode "ms-vsliveshare.vsliveshare"
vscode "redhat.java"
vscode "ritwickdey.liveserver"
vscode "rust-lang.rust-analyzer"
vscode "rxliuli.joplin-vscode-plugin"
vscode "streetsidesoftware.code-spell-checker"
vscode "swiftlang.swift-vscode"
vscode "tamasfe.even-better-toml"
vscode "vscjava.vscode-gradle"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-java-dependency"
vscode "vscjava.vscode-java-pack"
vscode "vscjava.vscode-java-test"
vscode "vscjava.vscode-maven"
vscode "yy0931.save-as-root"

EOF
{{ end -}}
