
encryption = "age"
[age]
	identity = "~/.config/chezmoi/key.txt"
	recipients = ["age1dek7s9z8udgy8k349k9wf3vepq00yz3mmj0jjfwlt5xlpsjtf5dqjv5chs"]

[edit]
{{ if eq .chezmoi.os "darwin" }}
command="code"
args="-wn"
{{ else }}
command="nano"
{{ end }}

[git]
	autoCommit = true

[data]
	name = "Johann"
	email = "johann@jtan.me"