[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Johann
	email = johann@jtan.me
[init]
	defaultBranch = main
[alias]
	p = pull --recurse-submodules
	c = clone --recursive
	co = checkout
[advice]
	detachedHead = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{ if eq .chezmoi.os "darwin" }}
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIELJA2DQjbG04HX++7anti9LxYJt2QS7kn+AdncXaFP6
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
{{ end }}
